.dgis-add-marker {
  width: 32px;
  height: 32px;
  background: url("add-marker-icon.png") no-repeat;
}

.dgis-add-marker.active {
  border: 2px solid gray;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #DDD;
}

.dg-popup__footer button {
  margin-right: 5px;
}
